@media (max-width: 750px) {
    body {
        font-size: 12px;
        background-color: #DADFE8;
    }
    
    .scroll {
        overflow: hidden;
        
    }

    .pokedex {
        flex-direction: column;
        padding: 30px 0;
    }

    .cartao-pokemon {
        max-width: 300px;
    }

    .cartao-pokemon .cartao-imagem {
        width: 200px;
        height: 200px;
    }

    .cartao-pokemon .cartao-info {
        padding: 60px 20px 20px;
        margin-top: -50px
    }

    .cartao-pokemon .cartao-info .info {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .cartao-pokemon .cartao-info h3 {
        font-size: 16px;
    }

    .lista {
        max-width: 300px;

    }  

    .lista ul {
        display: flex;
        gap: 6px;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .lista .pokemon {
        width: 127px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
        

    }

    .lista .pokemon span {
        padding-right: 5px;
    }

}
